/* here you can put your own css to customize and override the theme */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 5px;
}
.table td.thumb img{
    max-height:40px;
}
#feeds_selection{
    display:none;
}
.loading_overlay {
    background-color: #eee;
    color: #000;
    display: none;
    height: 100%;
    left: 0;
    padding-top:100px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity:0.9;
}