.config-wrapper {display: none !important;}
.price_info-wrapper {
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 101;
}

.price_info-inner {
    position: relative;
}

.price_info-link {
    display: block;
    width: 36px;
    height: 36px;
    background: #f5f5f5;
    color: #fff;
    text-align: center;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-decoration: none;
    cursor: pointer;
}

.price_info-link i {
    font-size: 22px;
    padding-top: 5px;
    display: block;
    color: #65758e;
}

.price_info-trigger {
    position: absolute;
    left: -36px;
    /*top: 150px;*/
    top: 5px;
}

.price_info-close {
    position: absolute;
    right: 2px;
    top: 5px;
}

.price_info {
    /*display: none;*/
    width: 550px;
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
    background: #f5f5f5;
}

.quote_vehicle {
    height: 320px;
    overflow: hidden;
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 15px;
}

.quote_vehicle .delete_quote_vehile {
    position: relative;
    top: -8px;
    right: -6px;
}

.quote_vehicle .delete_quote_vehile i {
    margin-right: 0;
}

.quote_vehicle_add {
    height: 320px;
    background: #f3f3f3;
    text-align: center;
    font-size: 22px;
    line-height: 300px;
    border: dotted 1px #b5b5b5;
    border-radius: 5px;
    cursor: pointer;
}

.quote_vehicle_top {
    position: relative;
    padding-top: 40px;
    height: 320px;
    text-align: center;
    top: 0;
}

.quote_vehicle_top.drag_up {
    top: -320px;
}

.quote_vehicle_bottom {
    position: relative;
    height: 320px;
    top: 0;
}

.quote_vehicle_bottom.drag_up {
    top: -290px;
}

.quote_vehicle_bottom .form-control {
    height: 30px;
    padding: 0 10px;
    line-height: normal;
}